*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(assets/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
main{
    padding-top: 5%;
}
:root{
    --color-li: #fff;
}
/* We are starting to decorate our navigation bar*/
/* We are spliting our logo with are nav links*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
/* We are positioning our nav link in the right */
.nav-links{
    flex: 1;
    text-align: right;
}
/* Here we make our nav links look better with remove the deafult styling */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/* Here we make our nav links look better with remove the deafult styling */
.nav-links ul li a{
    color: var(--color-li);
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
/* .nav-links ul li a:active{
    color: #f44336;
} */
nav .fa{
    display: none;
}
/***************************** INDEX styling *****************************/
#welcome{
    display: flex;
    justify-content: center;
    color: var(--color-li);
}
#teacher{
    width: 500px;
    height: 400px;
}
.article-1, .article-2{
    color: var(--color-li);
    display: flex;
    justify-content: center;
    padding: 10% 25%;
}
/***************************** ABOUT US *****************************/
/*Here we start styling ABOUT US */
.creators{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* inserting photo for Alex */
.creators .alexandros-pappas img{
    width: 300px;
    height: 300px;
}
/* putting color in   */
.creators .alexandros-pappas h1, .creators .alexandros-pappas h2, .creators .alexandros-pappas article p, .creators .alexandros-pappas article p a{
    color: var(--color-li);
}

.creators .efthymis-efthymiadis img{
    width: 300px;
    height: 300px;
}
.creators .efthymis-efthymiadis h1, .creators .efthymis-efthymiadis h2, .creators .efthymis-efthymiadis article p, .creators .efthymis-efthymiadis article p a{
    color: var(--color-li);
}
/***************************** COURSES *****************************/
/* Here we start styling courses */
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.courses img{
    width: 500px;
    height: 400px;
}
.courses .technical h2, .courses .it h2, .courses .literature h2, .courses .it .it-a p, .courses .technical .civil p, .courses .literature .literature-a p{
    color: var(--color-li);
}
/* .it-a, .civil, .literature-a{
    text-align: center;
} */
/***************************** IT *****************************/
/* Here we start styling our IT page*/
.it-courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.it-courses, .it-courses .front-end h2, .it-courses .front-end p, .it-courses .back-end h2, .it-courses .back-end p, .it-courses .ai h2, .it-courses .ai p{
    color: var(--color-li);
    text-align: center;
}
/************* Here we style our front-end*************/
.front-end-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--color-li);
    text-align: center;
}
/************* Here we start styling our back-end *************/
.back-end{
    color: var(--color-li);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sql{
    padding-left: 40px;
    padding-right: 40px;
}
/************* Here we start styling Big data *************/
.big-data-cont{
    color: var(--color-li);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* **************************** CIVIL *****************************/
.civil-courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--color-li);
    text-align: center;
}
/************* Mobile version *************/
@media(max-width: 700px){
    /* We start with our navbar */
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: cadetblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .courses{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}