*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(assets/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
main{
    padding-top: 5%;
}
:root{
    --color-li: #fff;
}
footer{
    background-color: rgba(53, 46, 46, 0.795);
    text-align: center;
    color: var(--color-li);
    padding-right: 5%;
    padding-left: 5%;
}
.conteiner{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
a:link{
    color: var(--color-li);
}
a:visited{
    color: var(--color-li);
}
/* We are starting to decorate our navigation bar*/
/* We are spliting our logo with are nav links*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
/* We are positioning our nav link in the right */
.nav-links{
    flex: 1;
    text-align: right;
}
/* Here we make our nav links look better with remove the deafult styling */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/* Here we make our nav links look better with remove the deafult styling */
.nav-links ul li a{
    color: var(--color-li);
    font-family: 'Baloo Bhaijaan 2', cursive;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
/* .nav-links ul li a:active{
    color: #f44336;
} */
nav .fa{
    display: none;
}
/***************************** INDEX styling *****************************/
#welcome{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    color: var(--color-li);
}
.article-1, .article-2{
    color: var(--color-li);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    padding: 10% 25%;
}
/***************************** ABOUT US *****************************/
/*Here we start styling ABOUT US */
.creators{
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
/* inserting photo for Alex */
.creators .alexandros-pappas img{
    width: 300px;
    height: 300px;
}
/* putting color in   */
.creators .alexandros-pappas h1, .creators .alexandros-pappas h2, .creators .alexandros-pappas article p, .creators .alexandros-pappas article p a{
    color: var(--color-li);
}

.creators .efthymis-efthymiadis img{
    width: 300px;
    height: 300px;
}
.creators .efthymis-efthymiadis h1, .creators .efthymis-efthymiadis h2, .creators .efthymis-efthymiadis article p, .creators .efthymis-efthymiadis article p a{
    color: var(--color-li);
}
/***************************** COURSES *****************************/
/* Here we start styling courses */
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4%;
    text-align: center;
}
.courses img{
    width: 100%;
    height: auto;
}
.courses .technical h2, .courses .it h2, .courses .literature h2, .courses .it .it-a p, .courses .technical .civil p, .courses .literature .literature-a p{
    color: var(--color-li);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.courses-li{
    list-style: circle;
}
.courses h2{
    transition: 1s;
}
.courses h2:hover{
    color: #f44336;
    transform: scale(1.2);
}
/***************************** IT *****************************/
/* Here we start styling our IT page*/

.it-courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4%;
}
.it-courses, .it-courses .front-end h2, .it-courses .front-end p, .it-courses .back-end-pre h2, .it-courses .back-end-pre p, .it-courses .ai h2, .it-courses .ai p{
    color: var(--color-li);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.it-courses h2{
    transition: 1s;
}
.it-courses h2:hover{
    color: #f44336;
    transform: scale(1.2);
}
/************* Here we style our front-end*************/
.front-end-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-li);
    text-align: center;
}
/************* Here we start styling our back-end *************/
.back-end{
    color: var(--color-li);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4%;
}  
.sql{
    padding-left: 40px;
    padding-right: 40px;
}
/************* Here we start styling Big data *************/
.big-data-cont{
    color: var(--color-li);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4%;
}
/* **************************** CIVIL *****************************/
.civil-courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--color-li);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    grid-gap: 50px;
    padding: 4%;
}
.civil-courses h2{
    transition: 1s;
}
.civil-courses h2:hover{
    color: #f44336;
    transform: scale(1.2);
}
/************* Here we startstyling Hydraulic *************/
.hydraulic2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4%;
    text-align: center;
    color: var(--color-li);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/************* Here we startstyling Traffic *************/
.traffic-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4%;
    text-align: center;
    color: var(--color-li);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/************* Here we startstyling Structural *************/
.structural-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4%;
    text-align: center;
    color: var(--color-li);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/************* Mobile version *************/
@media(max-width: 700px){
    /* We start with our navbar */
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: cadetblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .courses{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .it-courses{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .big-data-cont{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .front-end-2{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .back-end{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .civil-courses{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .creators{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}
@media(max-width: 1024px) and (min-width: 701px){
    /* We start with our navbar */
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: cadetblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .courses{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .it-courses{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .big-data-cont{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .front-end-2{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .back-end{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .civil-courses{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .creators{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.contact{
    color: black;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
  }